<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- en esta parte se define de manera básica el estilo básico de la pagina web y hay que indicarle un path donde tengamos guardados nuestros estilos
    en este caso lo tenemos guardado dentro de public/assets/css/bootstrap.min.css es un estilo minimo de boostratp y nos lo hemos bajado desde la web de bootstrap en source files-->
    <link rel="stylesheet" href="assets/css/style.css">
    <!--le hemos importado el archivo style.css que hemos creado con nuestros propios datos-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>pagina web | demo</title>
</head>

<body>