{{> head }}
{{> navbar }}
<!--tarea hacer dos columnas una de longitud 8 y la otra de 4 y añadir un texto en la de 8 y una imagen en la de 4 con clase img-thumbnail-->

<div class="row">
    <div class="col-8">
        <h1>imagen de ciudad</h1>
    </div>

    <div class="col-4">
       <img src="assets/img/joshua-rawson-harris-M5VqCeKC3vk-unsplash.jpg" class="img-thumbnail">
    </div>

</div>


{{> footer }}